$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
.LandingPage{
  padding-top: 15%;
  margin: 0 auto;
  max-width:1000px;
  text-align: center;
  .intro{
    font-size: 45px;
    line-height: 1.5;
  }

  .sub-intro {
    color: $emphasize-color;
    font-size: 25px;
    line-height: 1.5;
    padding-top: 20px;
  }
}

.Btn_container{
  padding-top: 50px;
  display: inline-block;
  font-size: 20px;
  .Btn{
    color: $primary-color;
    background: $emphasize-color;
    height: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
  }
}

