$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);

.landing-page {
  color: $primary-color;
  margin: 150px auto 100px;
  text-align: center;
  width: 1200px;

  .intro {
    font-size: 45px;
    line-height: 1.5;
  }

  .sub-intro {
    color: $emphasize-color;
    font-size: 25px;
    line-height: 1.5;
    padding-top: 20px;
  }
}

.btn-container {
  display: inline-block;
  font-size: 20px;
  padding-top: 50px;

  .btn {
    background: $emphasize-color;
    border-radius: 10px;
    color: $primary-color;
    cursor: pointer;
    height: 20px;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    touch-action: manipulation;
  }
}

