@import '../../sass/colors';


.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 0 auto;

  .converge-plot {
    background-color: $solver-background-color;
    color: $primary-color;
    width: 75%;
  }


  .sub-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 25%;

    .progress-bar {
      order: 1;
      width: 100%;
    }

    .total-time{
      order: 2;
    }
  }
}
