@import '../../sass/colors';


.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: auto;
  max-width: 1000px;
  width: 700px;
  height: 100%;

  .converge-plot {
    background-color: $solver-background-color;
    color: $primary-color;
    padding: 0.5em;
    border-radius: $container-border-radius;
    flex: 1 1 auto;
    width: 30px;
    align-self: stretch;
  }


  .sub-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1em;
    width: 10px;
    align-self: stretch;


    .progress-bar {
      order: 1;
      margin: 0 auto auto;
      height: 100%;
    }
  }
}




/*
* react-circular-progressbar styles
*
* All of the styles in this file are optional and configurable!
*/

:global {
  .CircularProgressbar {
    /*
     * This fixes an issue where the CircularProgressbar svg has
     * 0 width inside a "display: flex" container, and thus not visible.
     *
     * If you're not using "display: flex", you can remove this style.
     */
  height: 100%;
  }

  .CircularProgressbar .CircularProgressbar-path {
    stroke: $scroll-bar-color;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
  }

  .CircularProgressbar .CircularProgressbar-trail {
    stroke: $background-color;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: $primary-color;
    font-size: 20px;
    dominant-baseline: middle;
    text-anchor: middle;
  }

  .CircularProgressbar .CircularProgressbar-background {
    fill: #d6d6d6;
  }

  /*
   * Sample background styles. Use these with e.g.:
   *
   *   <CircularProgressbar
   *     className="CircularProgressbar-inverted"
   *     background
   *     percentage={50}
   *   />
   */
  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
    fill: $scroll-bar-color;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
    fill: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
    stroke: #fff;
  }

  .CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
    stroke: transparent;
  }
}
