$warning: rgb(254, 0, 117);
$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$explain-background-color: rgba(255, 255, 255, 0.3);
$solver-background-color: rgb(255, 255, 255);
$solver-text-color: rgba(0, 0, 0, 0.5);
$pre-color: rgb(255, 144, 95);
$cice-color: rgb(255, 255, 255);
$terminal-code-color: rgba(0, 0, 0, 0.5);

$margin-between: 10px;

$label-font-family: courier;
$body-font-family: Verdana;
