$warning: rgb(254, 0, 117);
//$primary-color: rgb(255, 255, 255);
$primary-color: black;
//$background-color: rgb(10, 117, 188);
$background-color: #dddddd;
//$emphasize-color: orange;
$emphasize-color: #1777b9;
//$explain-background-color: rgba(255, 255, 255, 0.3);
$explain-background-color: rgba(255,255,255,0.5);
$solver-background-color: rgb(255, 255, 255);
$solver-text-color: rgba(0, 0, 0, 0.5);
$header-color: rgb(235, 118, 55);
$cice-color: rgb(255, 255, 255);
$terminal-code-color: rgb(255, 255, 255);
$terminal-background-color: rgb(0, 0, 0);
//$btn-on-mouse-over: gray;
//$btn-color: black;
$btn-color: rgb(235, 118, 55);
$btn-on-mouse-over: gray;
$btn-background: #ffffff;
//$btn-background: white;
$scroll-bar-color: rgb(235, 118, 55);
$scroll-background-color: #eeeeee;
$link-color: #1777b9;

$margin-between: 10px;

//$label-font-family: Verdana;
//$body-font-family: Verdana;
$label-font-family: arial;
$body-font-family: arial;

$container-border-radius: 10px;
