$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$pre-color: rgb(255, 144, 95);
$cice-color: rgb(255, 255, 255);
$label-font-family: courier;
$body-font-family: Verdana;

.tutorial-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;

  .btn-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    font-size: 20px;
    margin: 10px auto 0;
    width: 100%;

    .btn-sub-con {
      align-content: stretch;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      margin: auto;

      .btn {
        align-self: center;
        background: $emphasize-color;
        border-radius: 10px;
        color: $primary-color;
        cursor: pointer;
        height: 20px;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        touch-action: manipulation;
      }

      .btn-l {
        align-self: flex-start;
        background: $emphasize-color;
        border-radius: 10px;
        color: $primary-color;
        cursor: pointer;
        display: inline-block;
        float: left;
        height: 20px;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        touch-action: manipulation;
      }

      .btn-r {
        align-self: flex-end;
        background: $emphasize-color;
        border-radius: 10px;
        color: $primary-color;
        cursor: pointer;
        display: inline-block;
        float: right;
        height: 20px;
        letter-spacing: 1px;
        padding: 10px;
        text-align: center;
        touch-action: manipulation;
      }
    }
  }

  .child {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
  }

}
