$primary-color: white;
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$pre-color: rgb(255, 144, 95);
$cice-color: white;
$label-font-family: courier;
$body-font-family: Verdana;
.BarContainer{
  margin: 0 auto 30px auto;
  max-width:1000px;
  height: 50px;
  .progressBtnAfter{
    margin-top: 0;
    height: 44px;
    width: 44px;
    margin-left: 180px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    background-color: $emphasize-color;
    display: inline-block;
  }
  .progressBtnBefore{
    margin-top: 0;
    height: 44px;
    width: 44px;
    margin-left: 180px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    background-color: $primary-color;
    display: inline-block;
  }
}

.Btn_container{
  margin: 50px auto;
  font-size: 20px;
  max-width: 1300px;
  display: block;
  .Btn{
    margin-left: 38%;
    display: inline-block;
    color: $primary-color;
    background: $emphasize-color;
    height: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
  }
  .BtnL{
    display: inline-block;
    color: $primary-color;
    background: $emphasize-color;
    height: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
    float: left;
  }
  .BtnR{
    display: inline-block;
    color: $primary-color;
    background: $emphasize-color;
    height: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 10px;
    touch-action: manipulation;
    cursor: pointer;
    float: right;
  }
}
