$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$pre-color: rgb(255, 144, 95);
$cice-color: rgb(255, 255, 255);
$label-font-family: courier;
$body-font-family: Verdana;

.btn-container {
  display: block;
  font-size: 20px;
  margin: 50px auto;
  max-width: 1300px;

  .btn {
    background: $emphasize-color;
    border-radius: 10px;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    letter-spacing: 1px;
    margin-left: 38%;
    padding: 10px;
    text-align: center;
    touch-action: manipulation;
  }

  .btn-l {
    background: $emphasize-color;
    border-radius: 10px;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 20px;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    touch-action: manipulation;
  }

  .btn-r {
    background: $emphasize-color;
    border-radius: 10px;
    color: $primary-color;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 20px;
    letter-spacing: 1px;
    padding: 10px;
    text-align: center;
    touch-action: manipulation;
  }
}

