@import '../../sass/colors';


.hlcontainer {
  cursor: pointer; 
  display: flex; 
    flex-direction: row; 

  .hltag {
    color: white; 
    align-self: center; 

  }

  .highlighter {
    margin: 0;
  }
}

