@import '../../sass/colors';

.sub-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: auto;
  width: 100%;

  .exp-container {
    background-color: $explain-background-color;
    color: $primary-color;
    flex: 1 1 auto;
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: $container-border-radius;


    .exp-header {
      color: $primary-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
    .exp-content {
      line-height: 1.5;
      margin: 10px auto;
      max-width: 1000px;
      padding: 0 20px;
      overflow-y: auto;

      .link {
        color: $primary-color;
        font-style: italic;
      }
    }
  }

  .visualize {
    background-color: $solver-background-color;
    flex: 1 1 auto;
    margin-left: 10px;
    width: 800px;
    display: flex;
    border-radius: $container-border-radius;
    flex-direction: column;
  }
}

