$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$explain-background-color: rgba(255, 255, 255, 0.3);
$solver-background-color: rgb(255, 255, 255);
$solver-text-color: rgba(0, 0, 0, 0.5);

.sub-container {
  display: block;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 1200px;

  .exp-container {
    background-color: $explain-background-color;
    color: $primary-color;
    display: inline-block;
    height: 500px;
    width: 380px;

    .exp-header {
      color: $primary-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .visialize {
    background-color: $solver-background-color;
    display: inline-block;
    float: right;
    height: 500px;
    margin-left: 20px;
    width: 800px;

    .visial-header {
      color: $solver-text-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
