$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$explain-background-color: rgba(255, 255, 255, 0.3);
$solver-background-color: rgb(255, 255, 255);
$solver-text-color: rgba(0, 0, 0, 0.5);

.sub-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin: 0 auto;
  overflow-y: scroll;
  width: 100%;

  .exp-container {
    background-color: $explain-background-color;
    color: $primary-color;
    flex: 0 1 auto;
    width: 380px;

    .exp-header {
      color: $primary-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .visialize {
    background-color: $solver-background-color;
    flex: 1 1 auto;
    margin-left: 10px;
    width: 800px;

    .visial-header {
      color: $solver-text-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
