$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$explain-background-color: rgba(255, 255, 255, 0.3);

.tu-in-container {
  background: $explain-background-color;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  overflow-x: auto;
  width: 1200px;

  .tu-in-header {
    color: $primary-color;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .tu-in-content {
    color: $primary-color;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
  }
}
