@import '../../sass/colors';


.tu-in-container {
  background: $explain-background-color;
  flex: 1 1 auto;
  margin: auto;
  overflow-y: scroll;
  width: 100%;

  .tu-in-header {
    color: $primary-color;
    font-size: 20px;
    line-height: 1.5;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .tu-in-content {
    color: $primary-color;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 25px;

    .img {
      display: block;
      height: 150px;
      margin: 0 auto;
    }

    .link {
      color: $primary-color;
      font-style: italic;
    }
  }
}
