$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$explain-background-color: rgba(255, 255, 255, 0.3);
$solver-background-color: rgb(255, 255, 255);
$solver-text-color: rgba(0, 0, 0, 0.5);
$margin-between: 10px;

.sub-container {
  display: flex;
  flex: 1 1 auto;
  margin: 0 auto;
  width: 100%;

  .exp-container {
    background-color: $explain-background-color;
    color: $primary-color;
    display: inline-block;
    flex: 0 1 auto;
    width: 290px;

    .exp-header {
      color: $primary-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .xml {
    background-color: #000;
    flex: 1 0.8 auto;
    font-size: 12px;
    margin-left: $margin-between;
    overflow-y: scroll;
    width: 600px;

  }

  .comment-container {
    background-color: $solver-background-color;
    color: $solver-text-color;
    display: inline-block;
    flex: 0 1 auto;
    font-size: 12px;
    margin-left: $margin-between;
    width: 290px;

    .comment-header {
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    .exp {
      font-family: Courier;
      margin: auto;
    }

  }
}
