@import '../../sass/colors';


.sub-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  .exp-container {
    background-color: $explain-background-color;
    color: $primary-color;
    display: inline-block;
    flex: 0 1 auto;
    margin-bottom: $margin-between;

    .exp-header {
      cursor: pointer;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    .exp-content {
      line-height: 1.5;
      margin: 10px auto;
      max-width: 1000px;

      .link {
        color: $primary-color;
        font-style: italic;
      }
    }
  }

  .interact-container {
    display: flex;
    flex: 0 1 auto;

    .xml {
      background-color: #000;
      flex: 1 0.8 auto;
      font-size: 12px;
      overflow-y: scroll;
      width: 600px;

    }

    .comment-container {
      background-color: $solver-background-color;
      color: $solver-text-color;
      display: inline-block;
      flex: 1 1 auto;
      margin-left: $margin-between;
      overflow-y: scroll;
      width: 290px;

      .comment-header {
        font-size: 20px;
        line-height: 1.5;
        padding-top: 10px;
        text-align: center;
        text-transform: uppercase;
      }

      .exp {
        line-height: 1.5;
        font-family: Courier;
        margin: 10px;
      }

    }
  }

}
