@import '../../sass/colors';


.progress {
  //background-color: $scroll-background-color;
  border-radius: 10px;
  margin: 10px 15%;
  padding-top: 0.5%;
  padding-left: 10px;
  // match width to the steps
}

:global{
  .ProgressSteps {

    display: flex;

    & > div {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }
    // NOTE: Change it, once you have different number of steps.
    // this is only sane way to go
    & > div:nth-child(5) {
      width: 25px;
      flex-grow: 0;
    }

    &-Step {
      /* ... */
      background: $scroll-background-color;
      border: 2px solid $scroll-background-color;
      border-radius: 50px;
      float: left;
      height: 25px;
      width: 25px;
      margin-bottom: 5px;
      &-activated {
        /* ... */
        border: 2px solid $scroll-bar-color;
        background: $scroll-bar-color;
      }

      &-deactivated {
        /* ... */
      }

      &-current {
        /* ... */
        background-image: url('../../../favicon.ico');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: 25px 25px; 
        //background: white;
        border: 2px solid $scroll-bar-color;
        //border: 0px; 
      }
    }

    &-Line {
      /* ... */
      background: $scroll-background-color;
      height: 6px;
      position: relative;
      top: 12px;
      flex: 1 1 auto;

      &-activated {
        /* ... */
        background: $scroll-bar-color;
      }

      &-deactivated {
        /* ... */
      }
    }
  }
}


