@import '../../sass/colors';

.highlight {
  margin: 0;
}
.text-style {
  text-align: justify;

  .content-center {
    text-align: center;
    }
}
.link {
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
}
