@import '../../sass/colors';

.sub-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 auto;
  overflow-y: auto;
  width: 100%;

  .exp-container {
    background-color: $explain-background-color;
    color: $primary-color;
    display: inline-block;
    flex: 0 1 auto;
    margin-bottom: $margin-between;

    .exp-header {
      display: flex;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-transform: uppercase;


      .modal-btn{
        flex: 1 1 auto;
        cursor: pointer;
        text-align: center;
        width: 10%;
        order : 1;
      }

      .title {
        flex: 1 1 auto;
        text-align: center;
        width: 80%;
        order: 2;
      }


      .hide {
        flex: 1 1 auto;
        cursor: pointer;
        text-align: center;
        width: 10%;
        order: 3;
      }
    }

    .time-modal {
      top                        : 40px;
      left                       : 40px;
      right                      : 40px;
      bottom                     : 40px;
      height: 50px;
      width: 50px;
      border                     : 1px solid #ccc;
      background                 : #fff;
      overflow                   : auto;
      WebkitOverflowScrolling    : touch;
      borderRadius               : 4px;
      outline                    : none;
      padding                    : 20px;

    }

    .time-modal-overlay {
      position          : fixed;
      top               : 0;
      left              : 0;
      right             : 0;
      bottom            : 0;
      backgroundColor   : rgba(255, 255, 255, 0.75);

    }

    .exp-content {
      line-height: 1.5;
      margin: 10px auto;
      max-width: 1000px;

      .exp-command {
        background-color: $terminal-background-color;
        color: $terminal-code-color;
        font-family: Courier;
        padding: 0.1em;
      }
    }
  }

  .subsub-container {
    flex: 1 1 auto;
    display: flex;
    order: 1;

    .sol-r,
    .sol-l {

      margin-right: $margin-between;
      overflow-y: auto;
      padding: 0.5em;
      flex: 1 1 10px;
      display: flex;
      flex-direction: column;
      min-width: 0; // tames flexbox weird behavior see https://stackoverflow.com/a/38224283/3200478


    }

    .sol-header {
      color: $solver-text-color;
      font-size: 20px;
      line-height: 1.5;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;
    }

  }

  // from the reat-console component
  :global {

    /* stylelint-disable */

    $background-color: $terminal-background-color;
    $prompt-color: $terminal-code-color;
    $message-color: $terminal-code-color;
    $cursor-color: $terminal-code-color;
    $cursor-text-color: $terminal-code-color;

    .react-console-container {
      height: 100%;
      cursor: text;
      overflow: auto;
      white-space: pre;
      box-sizing: border-box;
    }

    div.react-console-focus span.react-console-cursor {
      background: $cursor-color;
      color: $cursor-text-color;
    }

    div.react-console-nofocus span.react-console-cursor {
      background: none;
      color: $prompt-color;
      outline: 0.1em solid $cursor-color;
      outline-offset: -0.1em;
    }

    div.react-console-focus span.react-console-cursor-idle {
      animation: react-console-cursor-animation 1s infinite;
    }

    @keyframes:global(react-console-cursor-animation) {
      0% {
        background: $cursor-color;
        color: $cursor-text-color;
      }
      50% {
        background: $cursor-color;
        color: $cursor-text-color;
      }
      51% {
        background: none;
        color: $prompt-color;
      }
      100% {
        background: none;
        color: $prompt-color;
      }
    }

    /* stylelint-enable */
  }
  .overlay {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    .overlayButton {
      border: 5px solid white;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      font-size: 50px;
      left: 50%;
      padding: 5px;
      position: absolute;
      top: 90%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }


    .overlayLanding {
      border-bottom: 2px solid white;
      color: white;
      font-size: 20px;
      left: 50%;
      position: absolute;
      top: 7.5%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    .overlayIntro {
      color: white;
      font-size: 15px;
      left: 85%;
      position: absolute;
      top: 21%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 200px;
    }
    .overlayPlot {
      color: white;
      font-size: 15px;
      left: 10%;
      position: absolute;
      top: 30%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 200px;
    }

    .overlayExp {
      color: white;
      font-size: 15px;
      left: 50%;
      position: absolute;
      top: 75%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

  }

}

@keyframes flashingtext{
  from{color: red;}
  to{color: black;}
}

.table-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 80%;


  .simulation-header{
    font-size: xx-large;
    padding-bottom: 1em;
    animation-name: flashingtext;
    animation-duration: 5s;
  }

  .time-table{

    .table-caption{
      font-size: larger;
      text-align: center;
      padding-bottom: 0.5em;
    }

    .red-row {
      animation-name: flashingtext;
      animation-duration: 5s;
    }

    width:30%;
    height:60%;
    text-align: center;
    font-size: larger;
    margin: 0 auto;
  }

}


