$primary-color: rgb(255, 255, 255);
$background-color: rgb(61, 170, 255);
$emphasize-color: rgb(255, 144, 95);
$pre-color: rgb(255, 144, 95);
$cice-color: rgb(255, 255, 255);
$label-font-family: courier;
$body-font-family: Verdana;

body {
  font-family: Verdana, serif;
}

a {
  text-decoration: none;
}

.container {

  background: $background-color;
  box-sizing: border-box;
  height: 1325px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  width: 100%;

  .banner {
    color: $primary-color;
    font-size: 25px;
    margin: 25px auto;
    max-height: 25px;
    max-width: 1200px;
    padding-left: 15px;

  }

}

.footer {
  color: $primary-color;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-top: 50px;
  text-align: center;
  width: 1200px;


}

.warn-bg {
  background: rgb(255, 0, 0);

}

.label {
  font-family: $label-font-family;

  .pre {
    color: $emphasize-color;

  }

  .cice {
    color: $cice-color;

  }
}
