@import '../../sass/colors';

body {
  font-family: Verdana, serif;
}

a {
  text-decoration: none;
}

.container {
  align-content: center;
  background: $background-color;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;

  .banner {
    box-sizing: border-box;
    color: $primary-color;
    flex: 0 0 auto;
    font-size: 25px;
    margin: 25px auto;
    max-height: 25px;
    padding-left: 25px;
    width: 100%;

  }

  .child {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0 20px;
    overflow-y: scroll;
  }

  .footer {
    color: $primary-color;
    flex: 0 0 auto;
    margin: 20px auto;
    text-align: center;
    width: 100%;

  }

}



.warn-bg {
  background: rgb(255, 0, 0);

}

.label {
  display: inline-block;
  font-family: $label-font-family;

  .pre {
    color: $emphasize-color;
    vertical-align: bottom;
  }

  .cice {
    color: $cice-color;
    vertical-align: bottom;
  }

  .img {
    height: 50px;
    vertical-align: bottom;
  }
}

